.builder-option:hover {
    background-color: lightgray;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  