
.game-header {
    height: 5%;
    margin-top: 2.5%;
    border: 1px solid black;

}

.game-body {
    margin-top: 2.5%;
    height: 60%;
}

.game-footer {
    margin-top: 2.5%;
    height: 17%;
    border: 1px solid black;
}

.game {
    width: 75%;
    margin-right: 5%;
    height: 100%;
}

.game-detail {
    width: 20%;
    border: 1px solid black;
}